:root{
    --azulcaneta: #4f9edf;
}


body{
    background-color: var(--azulcaneta);
}



img{ 
    width: 10%;
} 
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}