:root{
    --azulcaneta: #4f9edf;
}


body{
    background-color: var(--azulcaneta);
}



img{ 
    width: 10%;
} 
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#intro{
    display: flex;
    background-color: var(--branco);
    border-radius: 30px;
    border: dashed 3px blue;
    margin: 20px;
    padding: 40px ;
}

.img-intro{
    width: 20%;
}

.equipe{
    text-align: center;
}

.integrantes{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}