:root{
    --azulcaneta: #4f9edf;
}


body{
    background-color: var(--azulcaneta);
}



img{ 
    width: 10%;
} 
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#intro{
    display: flex;
    background-color: var(--branco);
    border-radius: 30px;
    border: dashed 3px blue;
    margin: 20px;
    padding: 40px ;
}

.img-intro{
    width: 50%;
}

#equipe{
    text-align: center;
}

.integrantes{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.ft_integrante{
    width: 40%;
}

.manuel-azul{
    width: 40%;
}

.manuel-gomes-azuis{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

footer{
    background-color: antiquewhite;
    color: black;
}